<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div id="lista" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="nothingListContainer">
                {{{image}}}
                <p>{{error}}</p>
            </div>
            {{#each products}}
                    <div class="card h-100">
                    <img class="card-img-top" src={{this.thumbnail}} alt={{this.name}} />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{this.name}}</h5>
                            ${{this.price}}
                        </div>
                    </div>
                    </div>
            {{/each}}
        </div>
    </div>
</section>

{{> importScripts }}

